<h1>Tags</h1>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <p><%= link_to tag.name, tag_path(tag) %></p>
      <p><%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </li>
  <% end %>
</ul>
